# Entornos virtuales de Python
venv/
env/
.env

# Archivos cacheados de Python
__pycache__/
*.pyc

# Archivos multimedia (Tus videos de prueba)
*.mp4
*.avi
*.mov

# Archivos compilados de C (Para cuando hagamos el motor físico)
*.o
*.so
*.dll
*.task
